<!-- Modal -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Data ID</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/rfid" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">ID</label>
              <input type="text" class="form-control" id="rfid" name="rfid" placeholder="Enter RFID" required>
            </div>
            <div class="form-group">
              <label for="name">Nama</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter Nama" required>
            </div>
            <div class="form-group">
              <label for="name">Departemen</label>
              <input type="text" class="form-control" id="dept" name="dept" placeholder="Enter Departemen" required>
            </div>
            <div class="form-group">
              <label for="name">NRP</label>
              <input type="text" class="form-control" id="nrp" name="nrp" placeholder="Enter NRP">
            </div>
            <div class="form-group">
              <label for="name">No HP</label>
              <input type="text" class="form-control" id="no_hp" name="no_hp" placeholder="Enter Nomor HP">
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Data</button>
        </div>
       </form>
      </div>
    </div>
  </div>